<h1>Eventos m치s Importantes</h1>
<div class="container">
<div class="col-md-4">
	<h1>Proximos Eventos</h1>   
  	<img src="<%= asset_path 'guan9554EGH.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<p><a class="btn btn-success btn-lg" href="../contenido/nosotros" role="button">Leer m치s...</a></p>
</div>
<div class="col-md-4">
	<h1>Mas Importantes</h1>
	<img src="<%= asset_path 'celebracion1.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<p><a class="btn btn-success btn-lg" href="../contenido/nosotros" role="button">Leer m치s...</a></p>
</div>
<div class="col-md-4">
	<h1>Dolores Hidalgo, Gto.</h1>
	<img src="<%= asset_path 'images.png' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<p><a class="btn btn-success btn-lg" href="../contenido/nosotros" role="button">Leer m치s...</a></p>
</div>
</div>
