<div class="page-header">
  <h1>Nosotros</h1>
  <h3><small>¿Para qué?</small></h3>
<p>Somos una pagina web que tiene el proposito de mantenerte informado sobre los eventos más relevantes que se llevan acabo en la ciudad de Dolores Hidalgo, Guanajuato. C.I.N., a parte podras comprar boletos para los eventos que requieran de ello.</p>
</div>