
<div class="container">
<div class="jumbotron ">
  <h1>Bienvenido</h1>
  <h2>EvenHidalgo</h2>
  <p>En eventHidalgo podras encontrar las fechas e información de los eventos que se llevaran a cabo 
  en la ciudad de Dolores Hidalgo Guanajuato, así como poder adquirir boletos para los eventos que lo requieran</p>
  <p><a class="btn btn-primary btn-lg" href="../contenido/nosotros" role="button">Conocenos</a></p>
</div>
</div>
<div class="container">
<div class="col-md-4">
	<h1>Proximos Eventos</h1>   
  	<img src="<%= asset_path 'guan9554EGH.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<p><a class="btn btn-success btn-lg" href="../contenido/nosotros" role="button">Leer más...</a></p>
</div>
<div class="col-md-4">
	<h1>Mas Importantes</h1>
	<img src="<%= asset_path 'celebracion1.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<p><a class="btn btn-success btn-lg" href="../contenido/nosotros" role="button">Leer más...</a></p>
</div>
<div class="col-md-4">
	<h1>Dolores Hidalgo, Gto.</h1>
	<img src="<%= asset_path 'images.png' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
	<p><a class="btn btn-success btn-lg" href="../contenido/nosotros" role="button">Leer más...</a></p>
</div>
</div>
